<footer class="container">
  <div class="row">
    <!-- net.cafe logo -->
    <div class="col">
      <a href="/">
        <img
          class="logo-footer light"
          src="/img/internet-cafe.svg"
        /><img
          class="logo-footer dark"
          src="/img/internet-cafe-dark.svg"
        />
      </a>
    </div>
    <!-- Links -->
    <div class="col">
      <span>Links</span>
      <ul>
        <li>
          <a href="https://github.com/internetcafe">Github</a>
        </li>
        <li>
          <a href="https://matrix.to/#/#_:net.cafe">Matrix</a>
        </li>
      </ul>
    </div>

    <!-- Resources -->
    <div class="col">
      <span>Resources</span>
      <ul>
        <li>
          <a href="https://github.com/theinternetcafe/code-of-conduct"
            >Code of Conduct</a
          >
        </li>
      </ul>
    </div>

    <!-- Partners -->
    <div class="col">
      <span>Partners</span>
      <ul>
        <li style="display: inline-block">
          <a href="https://tracerats.org"
            ><img
              src="/img/tracerats_tiny.png"
              alt=""
              style="height: 1em; margin-bottom: -0.1em"
            />&nbsp;&nbsp;Tracerats</a
          >
        </li>
      </ul>
    </div>

    <!-- Copyleft -->
    <div class="col">
      <span style="text-decoration: none; display: inline-block; transform: rotate(180deg)">©</span>
      <span style="text-decoration: none;">2024 Internet Cafe</span>
    </div>
  </div>

  <!---
    - Internet Cafe Logo
    - Links:
      - Matrix
      - Discord
      - Code of conduct
      - Partners
        - Tracerats
        - ? Decode
        - ? Cloudfortress
      - Contact
    - Copyleft notice

--->
</footer>
