<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title if title else site.title}}</title>

    <meta property="og:title" content="{{ title if title else site.title}}" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="{{ page.url if page.url else site.url }}"
    />

    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <div class="container">
      <div class="page">
        <div class="header">
          <h1>{{ title }} <sub>by {{author}}</sub></h1> 
        </div>
        {{ content | safe }}
      </div>
    </div>

    {% include "components/footer.njk" %}
    
  </body>
</html>
