body {
  padding: 0;
  margin: 0;
  background-color: #0060a9;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

a {
  color: #0060a9;
  text-decoration: none;
}

#inner {
  padding: 0vh 0vw 0vh 0vw;
}

.column {
  position: relative;
  left: 6vw;
  top: 0vw;
  height: 120vh;
  margin: 0;
  width: 25vw;
  transform: skew(-10deg, 0deg);
  float: left;
  z-index: 2;
}

#column-1 {
  z-index: 2;
  height: 100vh;
}

#column-2 {
  z-index: 3;
  height: 100vh;
  padding: 0vh 5vw 0vh 5vw;
}

#column-2 .column-body {
  margin-top: 2vh;
}

#column-3 {
  z-index: 2;
  height: 100vh;
}

.column-body {
  position: relative;
  top: -5vw;
  background-color: #ffffff;
  height: auto;
  margin: 10vh 0vw;
  width: 26vw;
  float: left;
  z-index: 4;
}

.column-footer {
  height: 5vh;
}

.title {
  display: block;
  margin: 2vh 0vw 0vh 2vw;
  text-align: left;
  width: 24vw;
  font-size: 3.2cqw;
  font-weight: 400;
}

.column hr {
  height: 0.1vw;
  width: 22vw;
  margin: 0vw 2vw;
  background-color: red;
}

.event {
  text-align: left;
  font-size: 1.5cqw;
  margin: 2.5vw 0vw 0vw 2vw;
}

#logo {
  visibility: visible;
  height: auto;
  width: 52vw;
  margin: 0;
  transform: skew(10deg, 0deg);
  position: relative;
  left: -14vw;
  pointer-events: none;
}

#logo-dark {
  visibility: hidden;
  height: 0;
  width: 0;
  pointer-events: none;
}

#logo-top {
  width: 80vw;
  margin: 0;
}

#logobox {
  position: relative;
  visibility: visible;
  z-index: 5;
}

#logobox-top {
  background-color: #0060a9;
  height: auto;
  position: absolute;
  visibility: hidden;
}

.partner-logo {
  visibility: visible;
  height: auto;
  width: 16vw;
  margin: 2.5vw 0vw 0vw 0vw;
}

.partner-logo-dark {
  visibility: hidden;
  height: 0vh;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #f8991d;
  font-size: 1.5cqw;
  color: #ffffff;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

#footer span {
  position: relative;
  bottom: 1vh;
  right: 1vh;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #03001c;
    color: #ffffff;
  }

  a {
    color: #b6eada;
    text-decoration: none;
  }

  .column-body {
    background-color: #111111;
  }

  .column hr {
    background-color: #b6eada;
  }

  #logo {
    visibility: hidden;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  #logo-dark {
    visibility: visible;
    height: auto;
    width: 52vw;
    margin: 0;
    transform: skew(10deg, 0deg);
    position: relative;
    left: -14vw;
    pointer-events: none;
  }

  #logobox-top {
    background-color: #03001c;
  }

  #logo-top {
    visibility: hidden;
    height: 0;
  }

  #logo-top-dark {
    width: 80vw;
    height: auto;
  }

  .partner-logo {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  .partner-logo-dark {
    visibility: visible;
    height: auto;
    width: 16vw;
    margin: 2.5vw 0vw 0vw 0vw;
  }

  #footer {
    background-color: #301e67;
    color: #ffffff;
  }
}

@media (max-aspect-ratio: 2/3) and (prefers-color-scheme: dark) {
  #logo-top-dark {
    visibility: visible;
    height: auto;
  }

  #logo-top {
    visibility: hidden;
    height: 0;
  }

  .partner-logo {
    height: 0;
    margin: 2vh 0vw 0vh 0vw;
  }

  .partner-logo-dark {
    height: auto;
    width: 50vw;
    margin: 2vh 0vw 0vh 0vw;
  }
}

@media (max-aspect-ratio: 2/3) and (prefers-color-scheme: light) {
  #logo-top-dark {
    visibility: hidden;
    height: 0;
  }

  #logo-top {
    visibility: visible;
    height: auto;
  }

  .partner-logo {
    height: auto;
    width: 50vw;
    margin: 2vh 0vw 0vh 0vw;
  }

  .partner-logo-dark {
    height: 0;
    margin: 2vh 0vw 0vh 0vw;
  }
}

@media only screen and (max-aspect-ratio: 2/3) /*only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-device-pixel-ratio: 3) */ {
  /* For mobile phones: */
  .column {
    position: relative;
    top: 0vh;
    height: auto;
    margin: 0;
    width: 85vw;
    float: left;
    transform: skew(0deg, 0deg);
  }

  .column-body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
  }

  .column-footer {
    height: 3vh;
  }

  #column-1 {
    z-index: 2;
    height: auto;
  }

  #column-2 {
    z-index: 2;
    padding: 0;
    height: auto;
    margin: 0;
  }

  #column-2 .column-body {
    margin-top: 0vh;
  }

  #column-3 {
    z-index: 2;
    height: auto;
  }

  .title {
    margin: 3vh 0vw 0vh 5vw;
    display: block;
    text-align: right;
    font-size: 9cqw;
    font-weight: 400;
    width: 75vw;
  }

  .column hr {
    height: 0.4vw;
    width: 75vw;
    margin: 1vh 5vw 3vh 5vw;
    transform: skew(-10deg, 0deg);
  }

  .event {
    text-align: left;
    font-size: 4cqw;
    margin: 0vh 5vw 2vh 5vw;
    rotate: 0deg;
  }

  #logobox {
    position: absolute;
    visibility: hidden;
  }

  #logo {
    visibility: hidden;
  }

  #logo-dark {
    visibility: hidden;
  }

  #logobox-top {
    padding: 5vh 1vw 1vh 0vw;
    height: auto;
    position: relative;
    visibility: visible;
  }

  #footer {
    position: relative;
    clear: both;
    width: 100%;
    height: 10vh;
    font-size: 4cqw;
  }

  #footer span {
    position: relative;
    bottom: 1vh;
  }
}
